@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(175, 175, 179); /* Color de fondo como respaldo */
    background-image: url('images/modern-white-background-free-vector.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen quede fija al hacer scroll */
    background-position: center; /* Centra la imagen */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

.header{
    background-image: url(images/ccomp.jpg);
    background-position : top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu {
    position:absolute;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
    border-bottom: 1px soliD #FFFFFF29;

}

.logo {
    color:blue;
    font-size: 25px;
    font-weight: 800;

    

}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu navbar ul li a{

    font-size: 18px;
    padding: 20px;
    color: #FFF;
    display: block;

}
.menu .navbar ul li a:hover{
    color: white;
}


#menu {

    display: none;
}

.menu-icono {
    width:25px;
}

.menu label{

    display: none;
    cursor:pointer;
}

.header-info h1{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.header-info p{
    color: white;
    font-size:20px;
    text-transform:capitalize;
    margin-bottom:35px;
}

.btn-1{
    display: inline-block;
    padding:10px 35px;
    border-radius:16px;
    background-color: blue;
    font-size:20px;
    color: white;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: blue;

}

